.container{
    text-align: center;
}
table{
    margin: auto;
}
input[type=text]{
    font-size: 34px;
    border-radius: 10px;
}
input[ type="button"]
{
    font-size: 40px;
    background-color: cadetblue;
    width: 103px;
    height: 70px;
    border-radius: 10px;
}
.calculator{
    padding: 3px;
    border-radius: 10px;
    background-color: hotpink;
    border:2px grey;
    display: inline-block;
}
head{
    font-size: 40px;
    display: inline-block;
    border-radius: 10px;
    background-color: lightgreen;
}
body{
    background-color: paleturquoise;
}